/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider {
 overflow: hidden; zoom: 1; position: relative; 
width: 953px; height: 370px;
 }

.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons{
margin-left: 350px;
}

.cs-buttons a { 
margin-left: 5px; 
height: 13px; 
width: 13px; 
float: left; 
text-indent: -1000px; 
background-color: #3d414c; 
}

.cs-active { 
background-color: #ffcf0b !important; 
}

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
