AddDefaultCharset utf-8

#SetEnv APP_ENV development
SetEnv APP_ENV production

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
#.*/content/page/page/
 
#RewriteCond %{QUERY_STRING}  ^.*$
RewriteRule ^content/page/(.*)$ /index.php/page/ [L,R=301]

# If a directory or a file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# Otherwise forward it to index.php.
RewriteRule . index.php

Redirect 301 /site/index   http://vavilova-13.ru/