
    .slider-wrap{
     padding:22px 0px 0px 0px;
    }
    .stripNavL, .stripNavR {
     top:55px;
    }
	
	.index_news_title{
		margin:-18px 0px 0px 0px;
		padding:0px;
	}
	
	.articleIE{
		margin:4px 0px 0px 0px !important;
	}
	
	.plus .plus_title{
	width: 221px;
	height: 45px;
	color: white;
	font-family: pfd;
	font-size: 30px;
	padding: 13px 0px 0px 25px;
	margin: -25px 0px 0px 18px;
	background: url("../img/plus.jpg") no-repeat;
	}
	
	 .stripViewer .panelContainer .panel .wrapper:first-child{
		padding: 5px 0px 0px 43px;
	} 
	
	
  .stripViewer .panelContainer .panel .wrapper { 
	 padding: 5px 0px 0px 0px;
	 width: 54px;
	 height: 103px;
	}
 
  .we_work{
  margin: 10px 0px 0px 40px;
  padding: 7px 0px 0px 17px;
  }
  
  